{% extends 'shared/base.html' %}

{% block content %}
<style>
    .profile-photo {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .list-group-item {
        margin-bottom: 10px; /* Add margin between each list item */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add shadow effect */
        padding: 10px; /* Add padding for better spacing */
        border-radius: 10px /* Add border radius for rounded corners */
    }
    .container h2 {
        font-style: italic;
        font-weight: bold;
        text-align:center;
    }
</style>
<div class="container mt-4">
    <h2>Friend Requests</h2>
    <div class="container-sm">
        {% if received_requests %}
            <div class="list-group">
                {% for request in received_requests %}
                <div class="list-group-item">
                    <div class="d-flex align-items-center">
                        {% if request.from_user.profile_photo %}
                        <img src="{{ request.from_user.profile_photo.url }}" alt="{{ request.from_user.first_name }}'s profile picture" class="profile-photo">
                        {% endif %}
                        <p class="mb-0 ml-2"><b>{{ request.from_user.username }} </b>has sent you a friend request.</p>
                    </div>
                    
                    <!-- Button group -->
                    <div class="btn-group mt-2">
                        <form method="post" action="{% url 'app:accept_friend_request' request.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Accept</button>
                        </form>
                        <form method="post" action="{% url 'app:delete_friend_request' request.id %}" style="margin-left: 5px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="list-group-item">
            <p>There are no friend requests for you now.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
