{% extends 'shared/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade to Premium</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Upgrade to Premium</h1>
        <p>You need to have a premium subscription to access the chat feature.</p>
        <a href="{% url 'payment:plan_list' %}" class="btn btn-primary">Upgrade Now</a>
    </div>
</body>
</html>
{%endblock content%}