{% extends 'shared/base.html' %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Address Information</h2>
        <form method='POST' action={% url 'accounts:address_details'%} enctype='multipart/form'>
            {% csrf_token %}
            <!-- Temporary Address Section -->
            <div class="card mb-4">
                <div class="card-header">
                    Temporary Address
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                        {% include 'components/form_field.html' with field=form.address_line1 %}
                    </div>
                            <div class="col">
                        {% include 'components/form_field.html' with field=form.address_line2 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include 'components/form_field.html' with field=form.city %}
                    </div>
                    <div class="col">
                        {% include 'components/form_field.html' with field=form.state %}
                    </div>
                </div>
                    <div class="form-group">
                        {% include 'components/form_field.html' with field=form.zipcode %}
                    </div>
                    <div class="form-group">
                        {% include 'components/form_field.html' with field=form.country%}
                    </div>
                </div>
            </div>

            

            
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Continue <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}