{% extends 'shared/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .profile-container {
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class="container mt-5 profile-container">
        <h2>Profile Form</h2>
        <form action="{% url "accounts:complete_profile"%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {% include 'components/form_field.html' with field=form.gender %}
                </div>
                <div class="col">
                    {% include 'components/form_field.html' with field=form.date_of_birth %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'components/form_field.html' with field=form.hobbies %}
                </div>
                <div class="col">
                    {% include 'components/form_field.html' with field=form.interest %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'components/form_field.html' with field=form.smoking_habits %}
                </div>
                <div class="col">
                    {% include 'components/form_field.html' with field=form.drinking_habits %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'components/form_field.html' with field=form.qualification %}
                </div>
                <div class="col mt-4">
                    {% include 'components/form_field.html' with field=form.profile_photo %}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Continue <i class="fas fa-arrow-right"></i>
                </button>
            </div>
            {{form.errors}}
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
