{% extends 'shared/base.html' %}

{% block content %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Relationship Preference</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/accounts/relation.css' %}">
</head>
<body>
    <div class="container ">
        <div class="image-container">
            <img src="{% static 'assets/img/userimg/cple1.jpg'%}" alt="Image">
        </div>
        <div class="login-container">
        <h1 class="mb-4 mt-5 text-center">What type of relationship are you looking for?</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="short_term.html" class="short">Short Term Relationship</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'app:family_details'%}" class="long">Long Term Relationship</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}