{% load static %}

<div class="col-sm-12 space_all">
    <div class="collapse navbar-collapse" id="dropdown-thumbnail-preview">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html" class="hvr-wobble-to-top-right">HOME</a></li>
      <li><a href="Listing.html" class="hvr-wobble-to-top-right">LISTING</a></li>
      <li><a href="sarch form.html" class="hvr-wobble-to-top-right">SARCH FORM</a></li>
      <li><a href="details.html" class="hvr-wobble-to-top-right">DETAILS</a></li>
      <li><a href="contact.html" class="hvr-wobble-to-top-right">CONTACT</a></li>
      <li class="dropdown">
      <a href="#" class="hvr-wobble-to-top-right" data-toggle="dropdown">DROPDOWN <b class="caret"></b></a>
        <ul class="dropdown-menu">
           <li><a href="Listing.html" class="hvr-wobble-to-top-right">LISTING</a></li>
           <li><a href="details.html" class="hvr-wobble-to-top-right">DETAILS</a></li>
           <li><a href="contact.html" class="hvr-wobble-to-top-right">CONTACT</a></li>			 
        </ul>
      </li>
    </ul>
</div>
</div>	