{% extends 'shared/base.html' %}

{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'assets/css/usercss/request.css' %}">
<div class="container  ">
    <div class="row g-0">
        <div class="col-sm-4 bg-light border rounded">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'accounts:profile' %}">Profile</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'accounts:change_password' %}">Change Password</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    
        <div class="col-sm-8">

            {% block accounts_content %}

            {% endblock accounts_content %}

        </div>
    </div>
</div>

{% endblock content %}