{% extends 'shared/base.html' %}

{% block content %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Messaging Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'assets/css/usercss/chat.css' %}">
</head>
<body>
    <div class="container mt-4">
        <div class="header">
            <h2 >Messaging {% if unread_messages %}<span class="badge badge-danger">New</span>{% endif %}</h2>
        </div>
        
        <div class="chat-container">
            <div class="container-box user-list-container">
                <div class="user-list">
                    <h5 class="align-items-center">Users</h5>
                    <ul class="list-group">
                        {% for user in users %}
                            <li class="list-group-item user-list-item {% if user.id == receiver.id %}active{% endif %}">
                                {% if user.profile_photo %}
                                <img src="{{ user.profile_photo.url }}" alt="{{ user.username }}'s profile picture">
                                {% endif %}
                                <a href="{% url 'app:messaging_page' user.id %}"><b>{{ user.first_name }} {{ user.last_name}}</b></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if user_id %}
            <div class="container-box message-section">
                <div class="message-header">
                    {% if receiver.profile_photo %}
                    <img src="{{ receiver.profile_photo.url }}" alt="{{ receiver.first_name }}'s profile picture" class="profile-photo">
                    {% endif %}
                    <h4>{{ receiver.first_name }} {{ receiver.last_name }}</h4>
                    <div class="call-icons">
                        <a href="#"><i class="fas fa-phone-alt fa-lg mr-3"></i></a>
                        <a href="#"><i class="fas fa-video fa-lg"></i></a>
                    </div>
                </div>

                <div class="message-list" id="chat-window">
                </div>
                <div class="message-form">
                    <form id="message-form">
                        <textarea id="message-input" class="form-control" rows="3" placeholder="Type your message..."></textarea>
                        <button type="submit" class="send-button" id="send-button"  {% if not is_friend %}disabled{% endif %}>
                            Send
                        </button>
                        {% if not is_friend %}
                        <small class="text-danger">You cannot send messages to this user until you become friends.</small>
                        {% endif %}
                        
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const chatWindow = document.getElementById('chat-window');
            const messageForm = document.getElementById('message-form');
            const messageInput = document.getElementById('message-input');
            const userId = "{{ user_id }}";
            const csrfToken = "{{ csrf_token }}";

            function sendMessage(event) {
                event.preventDefault();
                const messageContent = messageInput.value.trim();

                if (messageContent === '') {
                    return;
                }

                fetch("{% url 'app:send_message' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ content: messageContent, receiver_id: userId })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Message sent:', data);
                    messageInput.value = '';
                    loadMessages();
                })
                .catch(error => {
                    console.error('Error sending message:', error);
                });
            }

            function loadMessages() {
                fetch(`/get_messages/${userId}/`)
                    .then(response => response.json())
                    .then(data => {
                        chatWindow.innerHTML = '';
                        data.messages.forEach(message => {
                            const messageElement = document.createElement('div');
                            messageElement.classList.add('message');
                            messageElement.classList.add(message.sender === '{{ request.user.username }}' ? 'sent' : 'received');
                            messageElement.innerHTML = `<p> ${message.content}<span class="timestamp">${message.timestamp}</span></p>`;
                            if (message.status === 'read') {
                                messageElement.innerHTML += `<span class="message-status">${message.status}</span>`;
                            } else if (message.status === 'delivered') {
                                messageElement.innerHTML += `<span class="message-status">${message.status}</span>`;
                            }
                            chatWindow.appendChild(messageElement);
                        });
                        chatWindow.scrollTop = chatWindow.scrollHeight;
                    })
                    .catch(error => {
                        console.error('Error fetching messages:', error);
                    });
            }

            messageForm.addEventListener('submit', sendMessage);
            loadMessages();
            setInterval(loadMessages, 5000);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
